In [1]:
#imports
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval

In [2]:
df_credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
df_credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
df_movies = pd.read_csv('tmdb_5000_movies.csv')

In [22]:
df_movies.head()

,budget,genres,homepage,movie_id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [62]:
# df_movies.release_date.value_counts(dropna=False).sort_index().plot(kind='barh',figsize=(15,16))
# plt.show()

In [52]:
movies = df_movies.merge(df_credits,on='movie_id')

In [53]:
movies.columns

Index(['budget', 'genres', 'homepage', 'movie_id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline',
       'title_x', 'vote_average', 'vote_count', 'title_y', 'cast', 'crew'],
      dtype='object')

In [7]:
movies.columns

Index(['budget', 'genres', 'homepage', 'movie_id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline',
       'title_x', 'vote_average', 'vote_count', 'title_y', 'cast', 'crew'],
      dtype='object')

In [54]:
movies = movies.drop(columns=['title_x', 'tagline', 'status', 'homepage', 
                                        'keywords','crew','vote_count',
                                       'tagline', 'spoken_languages', 'runtime',
                                       'popularity', 'production_companies', 'budget',
                                       'production_countries', 'revenue',
                                        'title_y', 'original_language'])

In [55]:
movies.head()

,genres,movie_id,original_title,overview,release_date,vote_average,cast
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,7.2,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,6.9,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,2015-10-26,6.3,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,7.6,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,6.1,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c..."

In [56]:
features = ['cast', 'genres']
for feature in features:
    movies[feature] = movies[feature].apply(literal_eval)

In [57]:
features

['cast', 'genres']

In [58]:
def get_list(meta_data):
    if isinstance(meta_data, list):
        names = [col['name'] for col in meta_data]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

features = ['cast','genres']
for feature in features:
    movies[feature] = movies[feature].apply(get_list)

In [59]:
movies.head()

,genres,movie_id,original_title,overview,release_date,vote_average,cast
0,"[Action, Adventure, Fantasy]",19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,7.2,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]"
1,"[Adventure, Fantasy, Action]",285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,6.9,"[Johnny Depp, Orlando Bloom, Keira Knightley]"
2,"[Action, Adventure, Crime]",206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,2015-10-26,6.3,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]"
3,"[Action, Crime, Drama]",49026,The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,7.6,"[Christian Bale, Michael Caine, Gary Oldman]"
4,"[Action, Adventure, Science Fiction]",49529,John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,6.1,"[Taylor Kitsch, Lynn Collins, Samantha Morton]"

In [13]:
movies.isna().sum()

genres            0
movie_id          0
original_title    0
overview          3
cast              0
dtype: int64

In [43]:
movies.isnull().sum()

genres            0
movie_id          0
original_title    0
overview          3
cast              0
dtype: int64

In [60]:
movies['overview'] = movies['overview'].replace(np.nan, 'unkown')

In [58]:
movies.isna().sum()

genres            0
movie_id          0
original_title    0
overview          0
cast              0
dtype: int64

In [107]:
movies.columns

Index(['genres', 'movie_id', 'original_title', 'overview', 'release_date',
       'vote_average', 'cast'],
      dtype='object')

In [105]:
hindi = pd.read_csv('bollywood_full_1950-2019.csv')

In [106]:
hindi.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112.0,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73.0,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549.0,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891.0,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280.0,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [108]:
hindi = hindi.drop(columns=['title_x', 'tagline', 'poster_path', 
                                        'wiki_link','title_y','is_adult', 'year_of_release',
                                       'tagline',  'runtime',
                                       'imdb_votes', 'story',
                                       'wins_nominations'])

hindi.rename(columns = {'actors':'cast', 'summary':'overview', 'imdb_id':'movie_id', 'imdb_rating':'vote_average'}, inplace = True)

hindi['genres'] = hindi['genres'].str.split('|')

hindi['cast'] = hindi['cast'].str.split('|')

In [109]:
hindi.columns

Index(['movie_id', 'original_title', 'genres', 'vote_average', 'overview',
       'cast', 'release_date'],
      dtype='object')

In [110]:
movies.columns

Index(['genres', 'movie_id', 'original_title', 'overview', 'release_date',
       'vote_average', 'cast'],
      dtype='object')

In [111]:
def clean_data(actors):
    if isinstance(actors, list):
        return actors[:3]

features = ['cast']
for feature in features:
    hindi[feature] = hindi[feature].apply(clean_data)

hindi.head()

,movie_id,original_title,genres,vote_average,overview,cast,release_date
0,tt8291224,Uri: The Surgical Strike,"[Action, Drama, War]",8.4,Indian army special forces execute a covert op...,"[Vicky Kaushal, Paresh Rawal, Mohit Raina]",11 January 2019 (USA)
1,tt9472208,Battalion 609,[War],4.1,The story of Battalion 609 revolves around a c...,"[Vicky Ahuja, Shoaib Ibrahim, Shrikant Kamat]",11 January 2019 (India)
2,tt6986710,The Accidental Prime Minister,"[Biography, Drama]",6.1,Explores Manmohan Singh's tenure as the Prime ...,"[Anupam Kher, Akshaye Khanna, Aahana Kumra]",11 January 2019 (USA)
3,tt8108208,Why Cheat India,"[Crime, Drama]",6.0,The movie focuses on existing malpractices in ...,"[Emraan Hashmi, Shreya Dhanwanthary, Snighdade...",18 January 2019 (USA)
4,tt6028796,Evening Shadows,[Drama],7.3,Under the 'Evening Shadows' truth often plays...,"[Mona Ambegaonkar, Ananth Narayan Mahadevan, D...",11 January 2019 (India)

In [84]:
hindi.isnull().sum()

movie_id             0
original_title       0
genres               0
vote_average        13
overview             1
cast                10
release_date      1281
dtype: int64

In [112]:
hindi['overview'] = hindi['overview'].replace(np.nan, 'unkown')
hindi['cast'] = hindi['cast'].replace(np.nan, 'unkown')
hindi['vote_average'] = hindi['vote_average'].replace(np.nan, 'unkown')

In [113]:
movies.columns

Index(['genres', 'movie_id', 'original_title', 'overview', 'release_date',
       'vote_average', 'cast'],
      dtype='object')

In [114]:
hindi.columns

Index(['movie_id', 'original_title', 'genres', 'vote_average', 'overview',
       'cast', 'release_date'],
      dtype='object')

In [115]:
#### Combining the bollywood and hollywoord movies

total_movies = movies.append(hindi, ignore_index=True, sort=True)

In [116]:
total_movies.head()

,cast,genres,movie_id,original_title,overview,release_date,vote_average
0,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Action, Adventure, Fantasy]",19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,7.2
1,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[Adventure, Fantasy, Action]",285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,6.9
2,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[Action, Adventure, Crime]",206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,2015-10-26,6.3
3,"[Christian Bale, Michael Caine, Gary Oldman]","[Action, Crime, Drama]",49026,The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,7.6
4,"[Taylor Kitsch, Lynn Collins, Samantha Morton]","[Action, Adventure, Science Fiction]",49529,John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,6.1

In [117]:
total_movies.tail()

,cast,genres,movie_id,original_title,overview,release_date,vote_average
9128,"[Ashok Kumar, Nalini Jaywant, Kuldip Kaur]",[Drama],tt0268614,Samadhi,The story is based on the true incident at INA...,NaN,6.1
9129,"[Ashok Kumar, Nalini Jaywant, Nawab]",[Drama],tt0244182,Sangram,After the death of his wife a policeman fails...,NaN,6.2
9130,"[Raj Kapoor, Rehana, Om Prakash]","[Drama, Family]",tt0269826,Sargam,Add a PlotÂ Â»,4 February 1957 (Iran),6.8
9131,"[Sohrab Modi, Naseem Banu, Pushpa Hans]",[Drama],tt0243555,Sheesh Mahal,Thakur Jaspal Singh lives in the prestigious a...,NaN,7
9132,unkown,[Drama],tt0213081,Meena Bazaar,Add a PlotÂ Â»,NaN,7

In [118]:
total_movies.to_csv('movie_data.csv', index = False)

In [119]:
data1 = pd.read_csv('movie_data.csv')

In [123]:
data1.tail()

,cast,genres,movie_id,original_title,overview,release_date,vote_average
9128,"['Ashok Kumar', 'Nalini Jaywant', 'Kuldip Kaur']",['Drama'],tt0268614,Samadhi,The story is based on the true incident at INA...,NaN,6.1
9129,"['Ashok Kumar', 'Nalini Jaywant', 'Nawab']",['Drama'],tt0244182,Sangram,After the death of his wife a policeman fails...,NaN,6.2
9130,"['Raj Kapoor', 'Rehana', 'Om Prakash']","['Drama', 'Family']",tt0269826,Sargam,Add a PlotÂ Â»,4 February 1957 (Iran),6.8
9131,"['Sohrab Modi', 'Naseem Banu', 'Pushpa Hans']",['Drama'],tt0243555,Sheesh Mahal,Thakur Jaspal Singh lives in the prestigious a...,NaN,7.0
9132,unkown,['Drama'],tt0213081,Meena Bazaar,Add a PlotÂ Â»,NaN,7.0

In [8]:
movie_name = data1['original_title'].to_list()